<div class="page-header">
  <%= link_to new_channel_message_path(@channel), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Message
  <% end %>
  <h1>Listing messages</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Body</th>
            <th>Channel</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @messages.each do |message| %>
      <tr>
            <td><%= message.body %></td>
            <td><%= message.channel.name %></td>
            <td><%= link_to 'Show', [@channel, message] %></td>
        <td><%= link_to 'Edit', edit_channel_message_path(@channel, message) %></td>
        <td><%= link_to 'Destroy', [@channel, message], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
