<div class="page-header">
  <%= link_to channel_messages_path(@channel), class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_channel_message_path(@channel, @message), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show message</h1>
</div>

<dl class="dl-horizontal">
  <dt>Body:</dt>
  <dd><%= @message.body %></dd>

  <dt>Channel:</dt>
  <dd><%= link_to @message.channel.name, @message.channel %></dd>

</dl>
